<div class="panel-item">
    <img src="https://images3.alphacoders.com/132/1322308.jpeg" class="w-100">
    <div class="panel-item-title p-1 fs-4 text-center">Stream de LoL a las 18:00h</div>
    <div class="panel-item-description p-2 pb-0">Hoy vamos a echar unas partidas al lol con el equipo ClownFiesta y luego veremos si jugamos con viewers</div>
    <hr class="mx-auto w-75"/>
    <div class="panel-item-actions text-center">
        <div class="btn panel-item-button rounded-0 mx-2"><i class="fas fa-circle-plus"></i></div>
        <div class="btn panel-item-button rounded-0 mx-2"><i class="fas fa-bookmark"></i></div>
    </div>
    <div class="panel-item-info text-end me-2 mt-2">
        Hace 20h
    </div>
</div>
